.ImageView,
.ImageView--fullscreen {
  position: fixed;
  box-sizing: border-box;
  /* padding: 15px 30px; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background: radial-gradient(circle at center,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.8) 100%);
  will-change: opacity;
  z-index: 99999999;
  transition: background-color 1s ease-in-out;
}

@keyframes show {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}

.ImageView .ImageView--inner {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  /* flex: auto; */
  /* width: 100%; */
  animation: show .3s;
  height: 100%;
  overflow: auto;
  /* margin: 0 auto; */
  box-sizing: border-box;
  position: relative;
  /* text-align: center; */

  /* transform: translateX(-50%); */
}

.ImageView .ImageView--inner .ImageView--item {
  /* vertical-align: middle; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: zoom-out;
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  opacity: 0;
}

.ImageView .ImageView--inner .ImageView--item.is-active {
  opacity: 1;
}

.ImageView .slide {
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgba(20, 50, 50, 0);
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%);
}

.ImageView .slide:hover {
  background-color: rgba(20, 50, 50, .3);
}

.ImageView .slide-next {
  right: 40px;
}

.ImageView .slide-prev {
  left: 40px;
}

.ImageView .slide .prev {
  width: 20px;
  height: 20px;
  margin: 12px 10px 10px 16px;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  transform: rotate(45deg);
}

.ImageView .slide  .next {
  width: 20px;
  height: 20px;
  margin: 12px 16px 10px 10px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  transform: rotate(-45deg);
}

.ImageView .ImageView--close__btn {
  /* display: inline-block; */
  /* position: relative; */
  /* background-color: #F1F2FE; */
  position: absolute;
  background-color: transparent;
  border: transparent;
  top: 20px;
  right: 30px;
  color: #909399;
  font-weight: 200;
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  outline: none;
  text-align:center;
  cursor: pointer;
}

.ImageView .ImageView--close__btn:hover {
  color: #6598dbda;
}

.ImageView .ImageView--close__btn:after {
  content: '\00D7';
}
